{{if .}}
<div class="similar-suggestions">
  <p class="similar-label">Did you mean?</p>
  <ul class="suggest-list">
    {{range .}}
    <li class="suggest-item"
        onmousedown="event.preventDefault();
                     var panel = this.closest('.tab-panel');
                     var input = panel ? panel.querySelector('input[type=text]') : document.querySelector('input[type=text]');
                     var form = input.closest('form');
                     var dropdown = panel ? panel.querySelector('.suggest-dropdown') : document.querySelector('.suggest-dropdown');
                     input.value='{{.Code}}';
                     if(dropdown) dropdown.innerHTML='';
                     form.requestSubmit();">
      <span class="suggest-code">{{.Code}}</span>
      <span class="suggest-name">{{.Name}}</span>
    </li>
    {{end}}
  </ul>
</div>
{{end}}
